

<div class="a" >

    <app-a [parentData]="inptext"></app-a>

</div>

<div class="b" style="float: right;
display: flex;

margin-top: -42px;">

    <app-b [parentData]="inptext"></app-b>

</div>
<div class="form-group">
    <label for="exampleInputEmail1">Enter Text</label>
    <input type="email" class="form-control" [(ngModel)]="inptext" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Text">
    
    
  </div>
<!-- <app-e></app-e> -->

<div class="c" style="    margin-top: 500px;" >

    <app-c [parentData]="inptext"></app-c> 

</div>


<div class="d" style="margin-left: 1060px;
/* margin-bottom: 25px; */
margin-top: -39px;
"> 

    <app-d [parentData]="inptext"></app-d>

</div>





